.contact_form{
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    padding: 52px 64px 32px 64px;
    @media screen and (max-width: 1000px) {
        padding: 20px;
    }
    .name_display{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
        @media screen and (max-width: 1000px) {
            display: block;
            padding-top: 20px;
        }
        .required{
            color: #FFF;
            font-family: 'Poppins-SemiBold';
            font-size: 38px;
            opacity: 0.8;
            line-height: 56px;
            @media screen and (max-width: 1000px) {
                font-size: 18px;
                line-height: 28px; 
            }
        }
        input{
            text-align: right;
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 32px 0px;
            color: rgba(255, 255, 255, 0.50);
            font-family: 'Roboto';
            font-size: 38px;
            line-height: 56px;
            position: relative;
            left: 50%;
            max-width: 50%;
            @media screen and (max-width: 1000px) {
                font-size: 18px;
                line-height: 28px; 
                position: inherit;
                text-align: left;
                left: inherit;
                padding: 12px 0 20px;
            }
        }
    }

    textarea{
        position: relative;
        max-width: 550px;
        text-align: right;
        width: 100%;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.50);
        font-family: 'Roboto';
        font-size: 38px;
        line-height: 55px;
        padding: 32px 0px;
        max-height: 176px;
        @media screen and (max-width: 1000px) {
            font-size: 18px;
            line-height: 28px;
            position: inherit;
            text-align: left;
            left: inherit;
            padding: 12px 0 20px;
            max-height: 88px;
        }
    }
    .privacy{
        color: rgba(255, 255, 255, 0.50);
        font-family: 'Roboto';
        font-size: 24px;
        line-height: 36px; 
        padding: 32px 0px;
        .privacy_link{
            color: rgba(255, 255, 255, 0.80);
            font-family: 'Roboto';
            font-size: 24px;
            line-height: 36px; 
            text-decoration: none;
            transition: .5s;
            &:hover{
                color: rgba(255, 255, 255, 1);
            }
            @media screen and (max-width: 1000px) {
                font-size: 18px;
                line-height: 28px !important;
            }
        }
        @media screen and (max-width: 1000px) {
            font-size: 18px;
            line-height: 28px !important;
        }
    }
}

.button {
    margin-top: 32px;
    border-radius: 2px;
    background: #6F05DB;
    border: none;
    padding: 20px 32px;
    color: #FFF;
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    line-height: 36px;
    width: 100%;
    transition: .5s;
    &:hover{
        background-color: #4335E6;
    }
    @media screen and (max-width: 1000px) {
        font-size: 18px;
        line-height: 28px !important; 
        padding: 12px 24px;
    }
}

.contact_blocks {
    padding: 64px 0 124px;
    @media screen and (max-width: 768px) {
        padding: 40px 0;
    }
}
.wpcf7-response-output{
    display: none !important;
}

.thx {
    margin-bottom: 127px;
    display: none;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    padding: 154px 208px;
    text-align: center;
    @media screen and (max-width: 768px) {
        margin-bottom: 0px;
        padding: 40px 20px;
    }
    img{
        @media screen and (max-width: 768px) {
            width: 92px;
            height: 92px;
        }
    }
    &-text{
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        padding-top: 32px;
        font-family: 'Poppins-SemiBold';
        font-size: 56px;
        line-height: normal;
        @media screen and (max-width: 768px) {
            font-size: 32px;
        }
    }
    &-messege{
        opacity: 0.8;
        font-size: 24px;
        color: #FFF;
        text-align: center;
        font-family: 'Roboto';
        line-height: 36px; 
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.thnx {
    display: none;
    &-button{
        background: rgba(25, 236, 157, 0.10);
        border: none;
        padding: 12px 0px;
        width: 416px;
        color: #35F9A9;
        font-family: 'Roboto-bold';
        font-size: 18px;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.wpcf7-not-valid-tip {
    margin-top: 10px;
    color: #E119A5 ;
    border-radius: 2px;
    background: rgba(233, 26, 152, 0.10);
    padding: 12px 0px;
    font-family: 'Roboto-bold';
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    &::before{
        content:"";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='28' viewBox='0 0 29 28' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.1668 13.9999C26.1668 7.5566 20.9435 2.33325 14.5002 2.33325C8.05684 2.33325 2.8335 7.5566 2.8335 13.9999C2.8335 20.4432 8.05684 25.6666 14.5002 25.6666C20.9435 25.6666 26.1668 20.4432 26.1668 13.9999ZM20.3335 9.91659L18.5835 8.16659L14.5002 12.2499L10.4168 8.16659L8.66683 9.91659L12.7502 13.9999L8.66683 18.0833L10.4168 19.8333L14.5002 15.7499L18.5835 19.8333L20.3335 18.0833L16.2502 13.9999L20.3335 9.91659Z' fill='%23E119A5'/%3E%3C/svg%3E");
        width: 28px;
        height: 28px;
        display: block;
        margin: 0 5px 0 0;
        background-repeat: no-repeat;
    }
}

#wpcf7-f713-o1{
    .wpcf7-not-valid-tip {
        margin-top: 0px;
        color: #ba37d7 ;
        border-radius: 0px;
        background: none;
        padding: 12px 10px;
        font-family: 'Roboto-bold';
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        display: block;
        &::before{
            content: none;
        }
    }
}