.hero{
    position: relative;
    &::before{
        content: "";
        background: linear-gradient(180deg,rgba(15,15,18,0),#0F0F12 );
        width: 100%;
        height: 246px;
        position: absolute;
        // z-index: 1;
        bottom: 0;
        @media screen and (max-width: 768px) {
            height: 196px;
        }
    }
    @media screen and (max-width: 768px) {
        padding-top: 20px;
    }

    &_content{
        display: flex;
        padding: 10px 0 50px;
        gap: 22px;
        @media screen and (max-width: 1190px) {
           display: block;
           padding: 64px 0;
        }
        @media screen and (max-width: 768px) {
            padding: 20px 0 60px;
        }
        &_left{
            max-width: 604px;
            @media screen and (max-width: 1190px) {
                max-width: 1020px;
            }
            &-title{
                padding-top: 33px;
                color: white;
                font-family: 'Poppins-SemiBold';
                font-size: 70px;
                line-height: 88px;
                text-transform: capitalize;
                @media screen and (max-width: 1190px) {
                    padding-top: 0px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 56px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 36px;
                    line-height: normal;
                }
            }
            &-description{
                padding-top: 24px;
                color: white;
                font-family: 'Roboto';
                font-size: 24px;
                line-height: 36px; 
                max-width: 500px;
                opacity: 0.8;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            &-block_buttons{
                padding-top: 64px;
                display: flex;
                gap: 20px;
                z-index: 1;
                position: relative;
                @media screen and (max-width: 1190px) {
                    padding-top: 40px;
                }
                @media screen and (max-width: 452px) {
                    display: none;
                }
                .buttons_left{
                    background-color: #4335E6;
                    border-radius: 2px;
                    color: white;
                    font-family: 'Poppins-SemiBold';
                    font-size: 18px;
                    line-height: 28px; 
                    padding: 20px 32px;
                    border: none;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        background-color: #6F05DB;
                    }
                    @media screen and (max-width: 1190px) {
                        display: none;
                    }
                }
            }
        }
        
        &_right {
            @media screen and (max-width: 1190px) {
                max-width: 1135px;
                height: 732px;
            }
            @media screen and (max-width: 1110px) {
                height: auto;
            }
            @media screen and (max-width: 505px) {
                height: 329px;
                padding-top: 60px;
            }
            .img_ll{
                background-image: url("http://bootstrap-wp-theme-devol/wp-content/uploads/2023/11/Image-3.svg");
                background-repeat: no-repeat;
                max-width: 1135px;
                height: 603px;
                @media screen and (min-width: 2293px) {
                    width: calc(100% + 53vw);
                }
                @media screen and (max-width: 2293px) {
                    width: calc(50% + 49vw);
                }
                @media screen and (max-width: 1250px) {
                    width: calc(50% + 47vw);
                }
                @media screen and (max-width: 1220px) {
                    width: calc(50% + 46vw);
                }
                @media screen and (max-width: 1200px) {
                    width: calc(50% + 45vw);
                }
                @media screen and (max-width: 1190px) {
                    display: none;
                }
            }
            .fixed{
                display: none;
                @media screen and (max-width: 1190px) {
                    display: block;
                    width: 100%;
                }
                @media screen and (max-width: 425px) {
                    display: none;
                }
            }
            .fixed_mobile{
                display: none;
                @media screen and (max-width: 425px) {
                    padding-bottom: 20px;
                    max-width: 510px;
                    display: block;
                    height: 329px;
                    width: calc(100% + 5vw);
                    position: relative;
                    z-index: 1;
                    background-position: right;
                }
            }
        }
    }
}    



