.platform{
    padding: 124px 0;
    @media screen and (max-width: 1024px) {
        padding: 60px 0;
    }
    &-content{
        text-align: center;
        @media screen and (max-width: 1024px) {
           text-align: inherit;
        }
        &_title{
            color: #FFF;
            font-family: 'Poppins-SemiBold';
            font-size: 56px;
            @media screen and (max-width: 1024px) {
                font-size: 38px;
            }
            @media screen and (max-width: 768px) {
                font-size: 32px;
            }
        }
        &_description{
            padding: 32px 0;
            margin: 0 auto;
            color: #FFF;
            font-family: 'Roboto';
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.5px;
            opacity: 0.8;
            max-width: 812px;
            @media screen and (max-width: 1024px) {
                margin: 0;
                font-size: 18px;
                max-width: 100%;
                text-align: start;
                padding: 24px 0 32px;
                line-height: 28px;
            }
        }
        &_buttons{
            border-radius: 2px;
            background:#6F05DB;
            padding: 20px 32px;
            color: #FFF;
            font-family: 'Poppins-SemiBold';
            font-size: 24px;
            line-height: 36px; 
            border: none;
            transition: .5s;
            &:hover{
                background-color: #4335E6;
            }
            @media screen and (max-width: 1024px) {
                font-size: 18px;
                padding: 12px 24px;
                line-height: 28px;
            }
            @media screen and (max-width: 570px) {
                width: 100%;
            }
        }
    }
    &-blocks{
        padding-top: 64px;
        @media screen and (max-width: 1024px) {
            padding-top: 60px;
        }
        .block{
            display: flex;
            justify-content: space-between;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.03);
            padding: 64px;
            margin-bottom: 64px;
            &:last-child{
                margin-bottom: 0px;
            }
            @media screen and (max-width: 1024px) {
                margin-bottom: 20px;
                padding: 20px;
            }
            @media screen and (max-width: 767px) {
                flex-flow: column-reverse;
            }
            &_title{
                color: #35F9A9;
                font-family: 'Poppins-SemiBold';
                font-size: 38px;
                @media screen and (max-width: 1024px) {
                    font-size: 32px;
                }
                @media screen and (max-width: 767px) {
                    padding-top: 20px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 22px;
                }
            }
            &_description{
                max-width: 555px;;
                padding-top: 24px;
                color: #FFF;
                font-family: 'Roboto';
                font-size: 24px;
                line-height: 36px; 
                opacity: 0.8;
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            &_list{
                padding-top: 24px;
                padding-left: 20px;
                li{
                    color: #FFF;
                    font-family: 'Poppins-SemiBold';
                    font-size: 22px;
                    padding-bottom: 12px;
                    &:last-child{
                        padding-bottom: 0px;
                    }
                    @media screen and (max-width: 1024px) {
                        font-size: 16px
                    }
                }
            }
            &_right{
                img{
                    max-width: 382px;
                    @media screen and (max-width: 1024px) {
                        max-width: 280px;
                        width: 100%;
                        height: 100%;
                    }
                    @media screen and (max-width: 767px) {
                        max-width: 160px;
                    }
                }
            }
        }
    }
}